

services:



  minio:
    container_name: minio
    image: minio/minio:latest
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    command: [ "server", "--console-address", ":9001", "/data" ]
    volumes:
      - ./minio_data:/data



networks:
  photo_network:
    driver: bridge

volumes:
  minio_data: